.blog-list{
    margin-left: 15rem;
    overflow: hidden;
    .blog-item{
        display: flex;
        width: 65rem;
        height: 22rem;
        margin: 20px 0;
        overflow: auto;
        border-radius: 0.5rem;
        box-shadow: rgb(0 0 0 / 50%) 5px 1px 20px -8px;
        :deep(.img-link){
            float: right;
            display: block;
            width: 70%;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        :deep(.blog-info){
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            width: 30%;
            padding: 30px;
            overflow: auto;
            p {
                margin: 0;
                font-size: 1rem;
                color: #333;
                line-height: 1.5;
                overflow: auto;
            }
        }
    }
}